doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title ether.explore
    link(href="../styles/style.css", rel="stylesheet")
  body(class="bg-primary")
    div(class="flex flex-col w-3/4 items-center mx-auto h-screen")
      include includes/nav.pug
      div(class="text-white flex flex-col items-center w-full")
        unless addrInfo.error 
          div(class="bg-dark-gray border w-full border-gray-600 p-4 rounded-lg")
            p(class="text-gray-700") Address
            span(class="font-dmMono") #{addrInfo.address}

            div(class="bg-dark-brown grid grid-cols-8 p-4 border w-full border-gray-600 rounded-lg mt-4")
              div(class="flex flex-col text-gray-700 col-span-2")
                span Balance
                span Transaction count
              div(class="col-span-3 text-white")
                p #{addrInfo.balance} ETH &approx; #{addrInfo.balanceUsd} USD
                p #{addrInfo.transactionCount}
        else 
          include includes/error.pug
